
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

.flex {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid > div {
    background: linear-gradient(#f4ff61ff , #ff9900ff, #ff61cf, #5cecffff, #375971ff, #0a0c37ff 99%);
    padding: 100px;
    margin: 10px;
    font-size: 50px;
    border-radius: 20px;
    text-align: center;
}

.item-1 {
    grid-area: 1/ 1 / 1 / -1;
}

